*{
    font-family: 'Baloo Bhai 2', cursive;
}

.sign_up{
    display: inline-block;
    /* border: 2px solid red; */
    margin-top: 6px;
    padding: 10px;
    border-radius: 6px;
    width: 355px;
    font-size: 17px;
    
}
body{
    background-color: #eee;
}
.box{
    /* display: flex; */
    /* border: 2px solid black; */
    background-color: #fff;
    justify-content: center;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    height: 630px;
    border-radius: 15px;
}


#fName{
    display: inline;

}
h2,p{
    /* border: 2px solid green; */
    text-align: left;
    margin-left: 10px;
}
p{

    font-size: 13px;
}
#upper{
    margin-top: -17px;
    font-size: 17px;
}
.DOB{
    /* border: 2px solid red; */
    margin: 4px;
    padding: 6px;
    border-radius: 6px;
    justify-content: space-between;
    width: 120px;
    margin-top: -9px;
}

.dob{
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
}

.txt{
    text-align: left;
    margin-top: 10px;
    font-size: 16px;
    margin-left: 38px;
    margin-bottom: 10px;
}

span{

    border: 1px double gray;
    border-radius: 6px;
    padding: 10px 24px;
    margin: 1px 6px;
}
.lower{
    padding: 16px;

}

#submit_{
    display: inline-block;
    background-color: #42b72a;
    border-radius: 7px;
    text-decoration: none;
    width: 205px;
    cursor: pointer;
    line-height: 41px;
    padding: 0 10px;
    position: relative;
    text-align: center;
    margin-top: -13px;
    font-size: 22px;
    color: white;
}
#submit_:hover{
    background-color: #42b72a7e;
}


.terms{
    text-decoration: none;
}